<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ListaContactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ListaContactos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="onClickDetalle()">Ir al detalle</ion-button>

  <ion-button color="success" (click)="onOpenModal()"> Lanzar Modal</ion-button>

  <app-card nombre="ruben" email="rocio@gmail.com" telefono="984949" (editarContacto)="onEditarContacto($event)"></app-card>
</ion-content>
