<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="warning">
    <h1>Diferentes componentes</h1>
  </ion-text>

  <p>
    Lorem ipsum dolor sit
    <ion-text color="danger">consectetur adipisicing elit</ion-text> . Quo,
    placeat? Earum laboriosam quasi similique, non fugiat itaque ea labore? Qui
    illum dignissimos officia totam illo maiores nemo perferendis distinctio
    tempora!
  </p>

  <ion-list [inset]="true" lines="inset">
    <ion-list-header color="success">
      <ion-label>Ciudades de españa</ion-label>
      <ion-button>ver todas</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Madrid</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Barcelona</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Valencia</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Segunda lista
    </ion-list-header>
    <ion-item>
      <ion-label>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        molestias ipsum temporibus. Eaque commodi voluptate praesentium error
        facilis dignissimos aliquid beatae? Vero dolorem facilis facere fugit
        itaque beatae fugiat nobis.
      </ion-label>
      
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        molestias ipsum temporibus. Eaque commodi voluptate praesentium error
        facilis dignissimos aliquid beatae? Vero dolorem facilis facere fugit
        itaque beatae fugiat nobis.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>title item</h1>
        <p>texto parrafo</p>
      </ion-label>
    </ion-item>

    <ion-item [detail]="true" href="mapa">
      <ion-avatar></ion-avatar>
      <ion-label>enlace</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>botones derecha</ion-label>
      </ion-item>

      <ion-item-options >
        <ion-item-option color="danger">Borrar</ion-item-option>
        <ion-item-option color="success">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
